.contact {
    display: flex;
    justify-content: space-between;
    .contact-image {
        width: 710px;
        &__img {
            width: 100%;
            height: 100%;
        }
    }
    .contact-content-wrap {
        width: 730px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-content {
    }
    .contact-content__title {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #272727;
        padding-bottom: 30px;
    }
    .contact-content__link {
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
        color: #959595;
    }
    .contact-content__subtitle {
        margin-top: 100px;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #272727;
    }
    .search-wrap {
        margin-top: 30px;
        border-bottom: 1.8px solid #272727;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }
    .dual-left-inner__search {
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
        color: #959595;
        border: none;
        outline:none;
        width: 100%;
    }
    .dual-left-inner__enter {
    }
    .dual-left-inner__search::placeholder {
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;       
    }
    .dual-left-inner__enter {
        transition: all .3s;
    }
    .dual-left-inner__enter:hover {
        transform: translateX(5px);
    }
}