.dual {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 21px;
    padding: 21px 0;
}
.dual-left-image {
    background: url(../img/dual/JPG/he.jpg);
} 
.dual-right-image {
    background: url(../img/dual/JPG/she.jpg);
}
.dual-left, 
.dual-right {
    width: 710px;
    height: 587px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.dual-content-inner {
    text-align: center;
}
.dual-content-inner__link {
    font-weight: 300;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}
.dual-content-inner__title {
    font-size: 64px;
    line-height: 71px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        width: 130px;
        height: 1px;
        background-color: #FFFFFF;
        bottom: -50%;
        right: calc(50% - 65px);  
    }
}

.dual-search {
    padding: 0;
    gap: 0;
    .dual-left {
        background-color: #272727;
    }
    .dual-left-inner {
        width: 386px;
        font-family: $font-forum;
    }
    .dual-left-inner__title {
        font-size: 48px;
        line-height: 53px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    .dual-left-inner__description {
        margin-top: 16px;
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;
        color: #FFFFFF;
    }
    .search-wrap {
        width: 100%;
        margin-top: 64px;
        display: inline-block;
        border-bottom: 1.8px solid #FFFFFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 12px;
    }
    .dual-left-inner__search {
        caret-color: #FFFFFF;
        background: none;
        border: none;
        width: 100%;
        outline:none;
    }
    textarea:focus, 
    input:focus {
        color: #FFFFFF;
    }
    .dual-left-inner__search::placeholder {
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;       
    }
    .dual-left-inner__enter {
        transition: all .3s;
    }
    .dual-left-inner__enter:hover {
        transform: translateX(5px);
    }
}