.footer {
    padding-top: 80px;
    width: 100%;
    background-color: #272727;
    * {
        color: #FFFFFF;
    }
    .container {
        max-width: 1118px;
        padding: 0 10px;
        margin: 0 160px;
        .footer-head,
        .footer-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .footer-head__link {
            text-transform: uppercase;
            font-weight: 450;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.06em;
        }
        .footer-bottom {
            margin-top: 90px;
            padding-bottom: 88px;
        }
        .content-wrap {
            display: flex;
            align-items: start;

        }
        .logo {
            padding: 0;
        }
        .footer-links__title,
        .subscribe__title {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        .footer-links__link {
            font-weight: 300;
            font-size: 18px;
            line-height: 23px;
            color: #C2C2C2;
        }
        .footer-links-inner {
            margin-top: 15px;
            display: flex;
        }
        .footer-links-inner-item:last-child {
            margin-left: 15px;
        }
        .subscribe {
            width: 280px;
            margin-left: 80px;
        }
        .search-wrap {
            width: 100%;
            margin-top: 15px;
            display: inline-block;
            border-bottom: 1.8px solid #FFFFFF;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;
        }
        .dual-left-inner__search {
            caret-color: #FFFFFF;
            background: none;
            border: none;
            width: 100%;
            outline:none;
        }
        .app-links {
            margin-top: 16px;
            display: flex;
            align-items: center;
        }       
        .app-links-item:last-child {
            margin-left: 7px;
        }
        .dual-left-inner__enter {
            transition: all .3s;
        }
        .dual-left-inner__enter:hover {
            transform: translateX(5px);
        }
    }   
}