*, 
*::after, 
*::before {
   box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
}
li {
    list-style-type: none;
}
ul {
    padding: 0;
}
a {
    text-decoration: none;
}

.page__body {
    max-width: #{$width-body + px};
    margin: 0 auto;
    overflow-x: hidden;
    font-family: $font-forum;
}
.container {
    max-width: #{$width-container + px};
    padding: 0 #{$paddingX-container + px};
    margin: 0 #{$marginX-container + px};
}
