.header {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.header-dark-side, 
.header-light-side {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-light-side {
    margin-left: 162px;
}

.logo {
    padding-top: 60px;
}
.wrap-main {
    transform: translateY(-34%);
    text-align: end;
}
.wrap-main__title {
    font-family: $font-forum;
    font-weight: 400;
    @include responsive-font(64, 24);
    line-height: 71px;
    letter-spacing: 0.03em;
    color: #272727;
}
.wrap-main-subtitle {
    transform: translateX(74px);
    margin-top: 50px;
}
.wrap-main-subtitle__link {
    font-weight: 300;
    font-style: italic;
    @include responsive-font(18, 16);
    line-height: 24px;
    color: #272727;
    position: relative;
    transition: all .3s;
    &::before {
        position: absolute;
        content: "";
        width: 130px;
        height: 1px;
        background-color: #272727;
        top: 50%;
        left: -100%;    
    }
    &:hover {
        color: #C4C4C4;
    }
}
.wrap-language {
    padding-bottom: 60px;
}
.wrap-language__btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #272727;
    transition: all .3s;
    &:hover {
        color: #C4C4C4;
    }
}
.header-dark-side {
    background-color: #272727;
}

.menu-wrap {
    padding-top: 75px;
    width: 562px;
    display: flex;
    justify-content: center;
    z-index: 11;
}
.menu {
    width: 261px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item:last-child {
        margin-left: 81px;
    }
}
.menu__link {
}
.banner {
    width: 322px;
    height: 170px;
    transform: translateX(-46%);
}
.banner__img {
    width: 100%;
    height: 100%;
}
.description-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description {
    text-align: end;
    padding-bottom: 60px;
}
.description__title {
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.description__subtitle {
    font-weight: 300;
    font-size: 18px;
    color: #C2C2C2;
    margin-bottom: 16px;
}
.description__cost {
    font-family: $font-forum;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #EFC58B;
}
.toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}