.showcase {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.showcase-column {
    height: 820px;  
}
.showcase-column-duo-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.showcase-card {
    padding: 30px;
    background: #EDEDED;
}
.showcase-card-wrap-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 240px;
    margin: 5px 5px 9px 5px;
}

.showcase-card__title {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #272727;
}
.showcase-card__description {
    margin: 9px 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #757575;
}
.showcase-card__cost {
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #E2B67A;
}
.showcase-column-mono-flex {
    margin: 0 20px;
    width: 600px;
    height: 820px;
    background-image: url(../img/showcase/JPG/sh-01.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    align-items: flex-end;
}
.showcase-description {
    padding: 30px;
}
.showcase-description__title {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.showcase-description__description {
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #E7E7E7;
    margin: 9px 0;
}
.showcase-description__cost {
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #EFC58B;
}